/* Variables */
:root {
    --primaryFont:"GC Protage";
    --h1FontSize: 4em;
    --h2FontSize: 2em;
    --h3FontSize: 1.5em;
    --pFontSize: 0.75em;
    --primaryBgColor: #222;
    --primaryTextColor:#f1f1f1;
}

/* Gets rid of default margins and padding */
* {
    margin:0px;
    padding:0px;
}

/* Custom fonts */
@font-face {
    font-family: "GC Protage";
    src: url("../Assets/Fonts/GcProtageDemoMedium-0vppR.ttf") format("ttf");
}

/* Styles the body */
body {
    background-color: var(--primaryBgColor);
    width:100%;
    height:30dvh;
}

/* Classes */

/* Styles Banner Strips */
.bannerStrip {
    width:100%;
    height:30dvh;
    background-image: url("Images/ArtemisBanner.jpg");
    background-position: center;
}

/* Styles main headings in Banner Strips */
.bannerStrip h1 {
    color:var(--primaryTextColor);
    font-family: var(--primaryFont), serif;
    text-align: center;
    padding:1%;
    font-size: var(--h1FontSize);
}

/* Styles subheadings in Banner Strips */
.bannerStrip h2 {
    color:var(--primaryTextColor);
    font-family: var(--primaryFont), serif;
    text-align: center;
    font-size: var(--h2FontSize);
}

/* Styles images in Banner Strips */
.bannerStrip img{
    object-fit:cover;
    width:100%;
    height:30dvh;
    position:relative;
}

/* Styles each card */
.card {
    max-width: 560px;
    padding-left: 1%;
}

/* Styles card headings */
.card h3 {
    color: var(--primaryTextColor);
    text-align: center;
    font-family: var(--primaryFont), serif;
    font-size: var(--h3FontSize);
}

/* Styles card descriptions */
.card p {
    color:var(--primaryTextColor);
    font-family: var(--primaryFont), sans-serif;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 560px;
    white-space: nowrap !important;
    font-size: var(--pFontSize);
}

/* Styles the card iframes */
.card iframe, img {
    width:560px;
    height:315px;
    border-radius: 10px;
}

/* Styles the Carousel */
.carousel{
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y:hidden;
    scrollbar-color: #444 var(--primaryBgColor);
    scrollbar-width: thin;
    background-color: #4444441c;
}

/* ID's */

/* Styles each section */
#Section {
    padding-top: 1%;
}

/* Styles section header */
#Section h2 {
    padding:1%;
    color:var(--primaryTextColor);
    text-align: center;
}
